

/* algmene styling */
.row{
  margin-right: 0px;
}
.header{
  font-family: "Roboto Condensed", sans-serif;
}

body{
  background: black;
  font-family: "Nunito", sans-serif;
}
.blurb h2{
  color:  #fbd201;
  font-weight: 100;
  font-size: 2.5rem;
}
.blurb p{
  color:  #fbd201;
  font-weight: 100;
  font-size: 1rem;
  line-height: 2;
}
.content{
  margin-top: 100px;
}


/* mobile schermen */

#headingGroup h1{
  font-weight: 100;
  font-size: 3rem;
  font-family: "Nunito", sans-serif;

}
#headingGroup h3{
  color:  #fbd201;
  font-weight: 50;
  height: 400px;
  font-family: "Nunito", sans-serif;
  right: 0px;
}

.col-lg-6{
  padding-right: 0px;
}
.col-md-6{
  padding-right: 0px;
}


/* navigation mobile */

#mainNavbar{
  font-size: 1.5rem;
  font-weight: 100;
}
#mainNavbar .nav-link{
  color:  #fbd201;
}
#mainNavbar .nav-link:hover {
  color:  #fbd201;
}
#mainNavbar .navbar-brand{
  color:  #fbd201;
}
#mainNavbar .navbar-brand:hover{
  color:  #fbd201;
}
#headingGroup span{
  color: black;
}
#headingGroup h1{
  font-weight: 100;
  font-size: 4rem;
}
.form-control{
  border: 0px;
  border-radius: 0px;
}
.navbar.scrolled{
  background: black;
  transition: background 1s;
}
/*navLinks padding  */
#about, #contact, #work{
padding-top: 2px;
}



@media (max-width: 1200px){
  #headingGroup h1{
    font-weight: 100;
    font-size: 3rem;
  }
#contact-info{
  padding-bottom: 50px;
}

}
@media (max-width: 900px){
  #headingGroup h1{
    height: 150px;
}

  #headingGroup h3{
    height: 200px;
}

@media (max-width: 430px){
  #headingGroup h1{
    height: 200px;
}

  #headingGroup h3{
    height: 0px;
display: none;
}


@media (min-width: 1030px){

  #headingGroup h1{
    font-weight: 400;
    font-size: 5;
    height: 100px;
    font-family: "Nunito", sans-serif;

  }
  #headingGroup h3{
    right: 50px;
    font-weight: 300;
    font-family: "Nunito", sans-serif;
  }
#contact-info{
  padding-bottom: 50px;
}

  .content {
    margin-bottom: 0px;
  }
}
